In [27]:
import pandas as pd
from IPython.display import display
import math

In [28]:
dataset = pd.read_csv('Training_Penguins_data.csv')
dataset

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_kg,sex
0,Adelie,Torgersen,41.1,17.6,182,3.757,female
1,Adelie,Torgersen,38.6,21.2,191,3.758,male
2,Adelie,Torgersen,34.6,21.1,198,3.759,male
3,Adelie,Torgersen,36.6,17.8,185,3.760,female
4,Adelie,Torgersen,38.7,19.0,195,3.761,female
...,...,...,...,...,...,...,...
281,Chinstrap,Dream,55.8,19.8,207,4.078,male
282,Chinstrap,Dream,43.5,18.1,202,4.079,female
283,Chinstrap,Dream,49.6,18.2,193,4.080,male
284,Chinstrap,Dream,50.8,19.0,210,4.081,male
285,Chinstrap,Dream,50.2,18.7,198,4.082,female

In [29]:
#Separation of the training dataset into two sub-datasets based on the (sex) label
male = dataset[dataset['sex'] == 'male']
female = dataset[dataset['sex'] == 'female']

#P(male)
p_male = male.shape[0] / dataset.shape[0]

#P(Female)
p_female = female.shape[0] / dataset.shape[0]
display('P(male):', p_male,'P(female)',p_female)

'P(male):'

0.506993006993007

'P(female)'

0.493006993006993

In [30]:
female.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_kg
count      141.000000     141.000000         141.000000    141.000000
mean        42.310638      16.305674         198.404255      3.927440
std          4.966296       1.755146          12.410813      0.091956
min         32.100000      13.100000         172.000000      3.757000
25%         37.900000      14.500000         188.000000      3.850000
50%         43.200000      16.800000         195.000000      3.931000
75%         46.400000      17.800000         210.000000      4.003000
max         58.000000      20.700000         222.000000      4.082000

In [31]:
male.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_kg
count      145.000000     145.000000         145.000000    145.000000
mean        46.293793      17.794483         205.662069      3.929428
std          5.309546       1.847625          14.443963      0.091206
min         34.600000      14.100000         178.000000      3.758000
25%         41.100000      16.000000         194.000000      3.853000
50%         48.400000      18.200000         202.000000      3.934000
75%         50.500000      19.100000         220.000000      4.004000
max         59.600000      21.500000         231.000000      4.081000

In [32]:
for column in dataset.columns:
    print(column , ':  ', dataset[column].unique())

species :   ['Adelie' 'Gentoo' 'Chinstrap']
island :   ['Torgersen' 'Biscoe' 'Dream']
bill_length_mm :   [41.1 38.6 34.6 36.6 38.7 42.5 34.4 46.  38.8 35.3 40.6 40.5 37.9 39.5
 37.2 36.  44.1 37.  39.6 42.3 40.1 35.  37.6 36.4 41.6 35.5 35.9 41.8
 33.5 39.7 45.8 42.8 40.9 36.2 42.1 42.9 36.7 35.1 37.3 41.3 36.3 36.9
 38.3 38.9 35.7 34.  40.8 38.1 40.3 33.1 43.2 41.  37.7 37.8 38.2 45.6
 42.2 42.7 40.2 41.4 35.2 41.5 39.  38.5 43.1 36.8 37.5 35.6 32.1 40.7
 39.2 49.  45.5 48.4 49.3 42.  49.2 46.2 48.7 50.2 45.1 46.5 46.3 46.1
 47.8 48.2 50.  47.3 59.6 49.1 42.6 44.4 44.  49.6 45.3 50.5 43.6 44.9
 45.2 46.6 48.5 50.1 45.  43.8 50.4 45.7 54.3 49.8 49.5 43.5 50.7 47.7
 46.4 48.6 47.5 51.1 52.5 47.4 50.8 43.4 51.3 52.1 52.2 44.5 49.4 46.9
 55.9 47.2 46.8 41.7 53.4 43.3 48.1 51.5 55.1 48.8 49.9 51.7 47.  52.
 45.9 50.3 58.  42.4 50.6 46.7 52.8 54.2 51.  49.7 47.6 53.5 50.9 51.4
 51.9 55.8]
bill_depth_mm :   [17.6 21.2 21.1 17.8 19.  20.7 18.4 21.5 17.2 18.9 18.6 17.9 16.7 18.1
 18.5 19.7 16.9 18.8 17.7 17.  18.2 17.1 18.  16.2 19.1 16.6 19.4 17.5
 16.8 16.1 20.3 19.5 19.2 17.3 20.  16.  16.5 18.3 20.5 19.8 15.9 20.1
 15.5 18.7 13.7 14.6 15.7 13.5 15.2 14.5 15.1 14.3 15.8 13.1 15.  15.3
 14.2 14.8 16.3 13.6 13.9 13.3 14.1 14.4 15.4 13.8 14.9 15.6 16.4 14.
 14.7 19.9 19.6 20.8]
flipper_length_mm :   [182 191 198 185 195 197 184 194 180 187 183 172 178 186 196 190 188 192
 189 193 202 205 208 203 199 181 176 210 200 201 214 216 213 217 221 209
 222 218 215 220 207 230 219 225 224 231 229 223 212 228 226 206]
body_mass_kg :   [3.757 3.758 3.759 3.76  3.761 3.762 3.763 3.764 3.769 3.77  3.771 3.772
 3.773 3.774 3.775 3.776 3.787 3.788 3.789 3.79  3.791 3.792 3.793 3.794
 3.795 3.796 3.806 3.807 3.808 3.809 3.81  3.811 3.812 3.813 3.814 3.815
 3.816 3.817 3.818 3.819 3.82  3.821 3.822 3.823 3.824 3.825 3.826 3.827
 3.828 3.829 3.83  3.831 3.832 3.833 3.834 3.835 3.836 3.837 3.838 3.839
 3.84  3.841 3.842 3.843 3.844 3.845 3.846 3.847 3.848 3.849 3.85  3.851
 3.852 3.853 3.854 3.855 3.856 3.857 3.858 3.859 3.86  3.861 3.862 3.863
 3.864 3.865 3.866 3.867 3.868 3.869 3.87  3.871 3.872 3.873 3.874 3.875
 3.876 3.877 3.878 3.879 3.88  3.881 3.882 3.883 3.884 3.885 3.886 3.887
 3.888 3.889 3.89  3.891 3.892 3.893 3.894 3.895 3.906 3.907 3.908 3.909
 3.91  3.911 3.912 3.913 3.914 3.915 3.916 3.917 3.918 3.919 3.92  3.921
 3.922 3.923 3.924 3.925 3.926 3.927 3.928 3.929 3.93  3.931 3.932 3.933
 3.934 3.935 3.936 3.937 3.938 3.939 3.94  3.941 3.942 3.943 3.944 3.945
 3.946 3.947 3.948 3.949 3.95  3.951 3.952 3.953 3.954 3.955 3.956 3.957
 3.958 3.959 3.96  3.961 3.962 3.963 3.964 3.965 3.966 3.967 3.968 3.969
 3.97  3.971 3.972 3.973 3.974 3.975 3.976 3.977 3.978 3.979 3.98  3.981
 3.982 3.983 3.984 3.985 3.986 3.987 3.988 3.989 3.99  3.991 3.992 3.993
 3.994 3.995 3.996 3.997 3.998 3.999 4.    4.001 4.002 4.003 4.004 4.005
 4.006 4.007 4.008 4.009 4.01  4.011 4.012 4.013 4.014 4.022 4.023 4.024
 4.025 4.026 4.027 4.028 4.029 4.03  4.031 4.032 4.033 4.034 4.035 4.036
 4.037 4.038 4.039 4.04  4.041 4.042 4.043 4.044 4.045 4.046 4.047 4.048
 4.049 4.05  4.051 4.052 4.053 4.054 4.055 4.056 4.057 4.058 4.059 4.06
 4.061 4.062 4.063 4.064 4.065 4.066 4.067 4.068 4.069 4.07  4.071 4.072
 4.073 4.074 4.075 4.076 4.077 4.078 4.079 4.08  4.081 4.082]
sex :   ['female' 'male']

In [33]:
#homework 2.1.2
def discreteFeature(Name):
    discreteFeature = dataset[Name].unique()
    z = []
    for n in discreteFeature:
        a = male[male[Name] == n].shape[0]/male.shape[0]
        b = female[female[Name] == n].shape[0]/female.shape[0]
        z.append([a,b])
        
    distinct = pd.DataFrame(data = z,index = discreteFeature,columns= ['Probability_Male','Probability_Female'])
    display(distinct)
    return distinct

species = discreteFeature('species')
island = discreteFeature('island')

           Probability_Male  Probability_Female
Adelie             0.400000            0.411348
Gentoo             0.386207            0.375887
Chinstrap          0.213793            0.212766

           Probability_Male  Probability_Female
Torgersen          0.137931            0.141844
Biscoe             0.489655            0.489362
Dream              0.372414            0.368794

In [34]:
def continuousFeatureCalculation(continuousColumnList):
    
    z = []
    for column in continuousColumnList:
        a = male[column].mean()
        b = female[column].mean()
        c = male[column].std()
        d = female[column].std()
        z.append([a,b,c,d])
        
    df_continuous = pd.DataFrame(data = z,index = continuousColumnList,columns= ['Male_Class_Mean','Female_Class_Mean','Male_SD','Female_SD'])
    display(df_continuous)
    return df_continuous
    
continiousFeatureTable = continuousFeatureCalculation(['bill_length_mm','bill_depth_mm','flipper_length_mm','body_mass_kg'])

                   Male_Class_Mean  Female_Class_Mean    Male_SD  Female_SD
bill_length_mm           46.293793          42.310638   5.309546   4.966296
bill_depth_mm            17.794483          16.305674   1.847625   1.755146
flipper_length_mm       205.662069         198.404255  14.443963  12.410813
body_mass_kg              3.929428           3.927440   0.091206   0.091956

In [35]:
def calculate_Gauss_distribution(column):
    
    Gauss_Distribution=[]
    i=0
    sbt=3
  
    for column in column:
        for i in dataset[column]:

            i=((i-male[column].mean())**2)/(2*(male[column].std()**2))
            e=math.exp(-i)
            a1=(1/(male[column].std()*math.sqrt(2*sbt))) * e
            
            i=((i-female[column].mean())**2)/(2*(female[column].std()**2))
            e=math.exp(-i)
            a2=(1/(female[column].std()*math.sqrt(2*sbt))) * e
            
            Gauss_Distribution.append([a1,a2])
    
    continuous = pd.DataFrame(data = Gauss_Distribution, columns= ['Male','Female'])
    display(continuous)
    return continuous

In [36]:
print('"bill_length_mm" featureâ€™s values are distributing with Gaussian Distribution')
cft_bill_length_mm = calculate_Gauss_distribution(['bill_length_mm']) 

print('"bill_depth_mm" featureâ€™s values are distributing with Gaussian Distribution')
cft_bill_depth_mm = calculate_Gauss_distribution(['bill_depth_mm']) 

print('"flipper_length_mm" featureâ€™s values are distributing with Gaussian Distribution')
cft_flipper_length_mm = calculate_Gauss_distribution(['flipper_length_mm']) 

print('"body_mass_kg" featureâ€™s values are distributing with Gaussian Distribution')
cft_body_mass_kg = calculate_Gauss_distribution(['body_mass_kg'])

"bill_length_mm" featureâ€™s values are distributing with Gaussian Distribution

         Male        Female
0    0.047652  3.222266e-17
1    0.026910  8.437302e-17
2    0.006801  8.106741e-16
3    0.014523  2.349419e-16
4    0.027650  8.063022e-17
..        ...           ...
281  0.015481  2.114502e-16
282  0.066949  1.805922e-17
283  0.063339  1.985359e-17
284  0.053636  2.635755e-17
285  0.058659  2.263116e-17

[286 rows x 2 columns]

"bill_depth_mm" featureâ€™s values are distributing with Gaussian Distribution

         Male        Female
0    0.219738  4.343216e-20
1    0.040419  2.120971e-16
2    0.044594  1.328725e-16
3    0.220957  4.217827e-20
4    0.178594  1.291803e-19
..        ...           ...
281  0.122593  9.012425e-19
282  0.217958  4.534118e-20
283  0.215700  4.790771e-20
284  0.178594  1.291803e-19
285  0.195953  7.945842e-20

[286 rows x 2 columns]

"flipper_length_mm" featureâ€™s values are distributing with Gaussian Distribution

         Male        Female
0    0.007387  5.888179e-57
1    0.016884  2.040394e-57
2    0.024555  1.260522e-57
3    0.010160  3.915320e-57
4    0.021524  1.493397e-57
..        ...           ...
281  0.028143  1.057473e-57
282  0.027370  1.096094e-57
283  0.019247  1.724301e-57
284  0.027018  1.114539e-57
285  0.024555  1.260522e-57

[286 rows x 2 columns]

"body_mass_kg" featureâ€™s values are distributing with Gaussian Distribution

         Male         Female
0    0.749549  1.000121e-117
1    0.765202  5.212790e-120
2    0.781087  2.664521e-122
3    0.797207  1.336841e-124
4    0.813562  6.589168e-127
..        ...            ...
281  1.187654  9.187954e-174
282  1.166561  2.231373e-171
283  1.145704  5.410870e-169
284  1.125085  1.309089e-166
285  1.104704  3.157493e-164

[286 rows x 2 columns]

In [37]:
dataset_test = pd.read_csv('Testing_Penguins_Data.csv')
y_test = dataset_test['sex']
dataset_test

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_kg,sex
0,Adelie,Torgersen,39.1,18.7,181,3.750,male
1,Adelie,Torgersen,39.5,17.4,186,3.751,female
2,Adelie,Torgersen,40.3,18.0,196,3.752,female
3,Adelie,Torgersen,36.7,19.3,193,3.753,female
4,Adelie,Torgersen,39.3,20.6,190,3.754,male
5,Adelie,Torgersen,38.9,17.8,181,3.755,female
6,Adelie,Torgersen,39.2,19.6,195,3.756,male
7,Adelie,Biscoe,37.8,18.3,174,3.765,female
8,Adelie,Biscoe,37.7,18.7,180,3.766,male
9,Adelie,Biscoe,35.9,19.2,189,3.767,female
10,Adelie,Biscoe,38.2,18.1,185,3.768,male
11,Adelie,Dream,39.5,16.7,178,3.775,female
12,Adelie,Dream,37.2,18.1,178,3.776,male
13,Adelie,Dream,39.5,17.8,188,3.777,female
14,Adelie,Dream,40.9,18.9,184,3.778,male
15,Adelie,Dream,36.4,17.0,195,3.779,female
16,Adelie,Dream,39.2,21.1,196,3.780,male
17,Adelie,Dream,38.8,20.0,190,3.781,male
18,Adelie,Dream,42.2,18.5,180,3.782,female
19,Adelie,Dream,37.6,19.3,181,3.783,female
20,Adelie,Dream,39.8,19.1,184,3.784,male
21,Adelie,Dream,36.5,18.0,182,3.785,female
22,Adelie,Dream,40.8,18.4,195,3.786,male
23,Adelie,Biscoe,42.0,19.5,200,3.797,male
24,Adelie,Biscoe,34.5,18.1,187,3.798,female
25,Adelie,Biscoe,41.4,18.6,191,3.799,male
26,Adelie,Biscoe,39.0,17.5,186,3.800,female
27,Adelie,Biscoe,40.6,18.8,193,3.801,male
28,Adelie,Biscoe,36.5,16.6,181,3.802,female
29,Adelie,Biscoe,37.6,19.1,194,3.803,male
30,Adelie,Biscoe,35.7,16.9,185,3.804,female
31,Adelie,Biscoe,41.3,21.1,195,3.805,male
32,Gentoo,Biscoe,46.1,13.2,211,3.896,female
33,Gentoo,Biscoe,50.0,16.3,230,3.897,male
34,Gentoo,Biscoe,48.7,14.1,210,3.898,female
35,Gentoo,Biscoe,50.0,15.2,218,3.899,male
36,Gentoo,Biscoe,47.6,14.5,215,3.900,male
37,Gentoo,Biscoe,46.5,13.5,210,3.901,female
38,Gentoo,Biscoe,45.4,14.6,211,3.902,female
39,Gentoo,Biscoe,46.7,15.3,219,3.903,male
40,Gentoo,Biscoe,43.3,13.4,209,3.904,female
41,Gentoo,Biscoe,46.8,15.4,215,3.905,male
42,Chinstrap,Dream,46.5,17.9,192,4.015,female
43,Chinstrap,Dream,50.0,19.5,196,4.016,male
44,Chinstrap,Dream,51.3,19.2,193,4.017,male
45,Chinstrap,Dream,45.4,18.7,188,4.018,female
46,Chinstrap,Dream,52.7,19.8,197,4.019,male
47,Chinstrap,Dream,45.2,17.8,198,4.020,female
48,Chinstrap,Dream,46.1,18.2,178,4.021,female

In [38]:
#calculate male score

a1 = 0
a2 = 0
a3 = 0
a4 = 0
a5 = 0
a6 = 0
predict = []

for row in dataset_test.iterrows():
    for row1 in species.iterrows():
        if (row[1][0] == row1[0]):
            a1 = row1[1][0]
    for row1 in island.iterrows():
        if (row[1][1] == row1[0]):
             a2 = row1[1][0]
    
    for column in male.columns:
        for row1 in continiousFeatureTable.iterrows():
            if column == row1[0]:
                if column == 'bill_length_mm':
                    a3 = (1/(math.sqrt(2*3*(row1[1][2]**2))))*(math.e**((-(row[1][2]-row1[1][0])**2)/(2*(row1[1][2]**2))))
                if column == 'bill_depth_mm':
                    a4 = (1/(math.sqrt(2*3*(row1[1][2]**2))))*(math.e**((-(row[1][3]-row1[1][0])**2)/(2*(row1[1][2]**2))))
                if column == 'flipper_length_mm':
                    a5 = (1/(math.sqrt(2*3*(row1[1][2]**2))))*(math.e**((-(row[1][4]-row1[1][0])**2)/(2*(row1[1][2]**2))))
                if column == 'body_mass_kg':
                    a6 = (1/(math.sqrt(2*3*(row1[1][2]**2))))*(math.e**((-(row[1][5]-row1[1][0])**2)/(2*(row1[1][2]**2))))
    maleScore = p_male * a1 * a2 * a3 * a4 * a5 * a6
           
    for row1 in species.iterrows():
        if (row[1][0] == row1[0]):
            a1 = row1[1][1]
    for row1 in island.iterrows():
        if (row[1][1] == row1[0]):
             a2 = row1[1][1]
    
    for column in male.columns:
        for row1 in continiousFeatureTable.iterrows():
            if column == row1[0]:
                if column == 'bill_length_mm':
                    a3 = (1/(math.sqrt(2*3*(row1[1][3]**2))))*(math.e**((-(row[1][2]-row1[1][1])**2)/(2*(row1[1][3]**2))))
                if column == 'bill_depth_mm':
                    a4 = (1/(math.sqrt(2*3*(row1[1][3]**2))))*(math.e**((-(row[1][3]-row1[1][1])**2)/(2*(row1[1][3]**2))))
                if column == 'flipper_length_mm':
                    a5 = (1/(math.sqrt(2*3*(row1[1][3]**2))))*(math.e**((-(row[1][4]-row1[1][1])**2)/(2*(row1[1][3]**2))))
                if column == 'body_mass_kg':
                    a6 = (1/(math.sqrt(2*3*(row1[1][3]**2))))*(math.e**((-(row[1][5]-row1[1][1])**2)/(2*(row1[1][3]**2))))

    femaleScore = p_female * a1 * a2 * a3 * a4 * a5 * a6
    if maleScore < femaleScore:
        predict.append('female')
    else:
        predict.append('male')       
        
print(predict)

['female', 'female', 'female', 'female', 'male', 'female', 'female', 'female', 'female', 'female', 'female', 'female', 'female', 'female', 'female', 'female', 'male', 'male', 'female', 'female', 'female', 'female', 'female', 'male', 'female', 'female', 'female', 'female', 'female', 'female', 'female', 'male', 'female', 'male', 'female', 'male', 'female', 'female', 'female', 'male', 'female', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male']

In [39]:
#calculate total acc.
total_accuarcy = 0
for i in range (len(predict)):
    if predict[i] == y_test[i]:
        total_accuarcy = total_accuarcy + 1
        
total_accuarcy = total_accuarcy / len(predict)

print('Total Accuracy : ', total_accuarcy)

# calculate male acc.
test_male = dataset_test[dataset_test['sex'] == 'male']
test_female = dataset_test[dataset_test['sex'] == 'female']

male_accuarcy = 0
malePositive = 0
for i in range (len(predict)):
    if predict[i] == 'male':
        if predict[i] == y_test[i]:
            male_accuarcy = male_accuarcy + 1
            malePositive = malePositive + 1



male_accuarcy = male_accuarcy / len(test_male)


print('Male Accuracy : ', male_accuarcy)

#calculate female acc.
female_accuarcy = 0
femalePositive = 0
for i in range (len(predict)):
    if predict[i] == 'female':
        if predict[i] == y_test[i]:
            female_accuarcy = female_accuarcy + 1
            femalePositive = femalePositive + 1



female_accuarcy = female_accuarcy / len(test_female)


print('Female Accuracy : ', female_accuarcy)

Total Accuracy :  0.673469387755102
Male Accuracy :  0.5
Female Accuracy :  0.84

In [41]:
femaleNegative = test_female.shape[0] - femalePositive
maleNegative = test_male.shape[0] - malePositive
confData = []

confData.append([malePositive,femaleNegative])
confData.append([maleNegative,femalePositive])

confMatrix = pd.DataFrame(data = confData,index = ['Predicted Male', 'Predicted Female'],columns= ['Actual Male','Actual Female'])

confMatrix

                  Actual Male  Actual Female
Predicted Male             12              4
Predicted Female           12             21